*{
	margin: 0px;
	padding: 0px;
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: url(images/sky.jpg);
	background-size: cover;
	background-position: center;
	position: relative;

}
.highway{
	background-image: url(images/road.jpg);
	position: absolute;
	width: 500%;
	height: 200px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 5s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translateX(-4000px);
	}
}
.city{
	width: 500%;
	height: 250px;
	position: absolute;
	background-image: url(images/city.png);
	bottom: 200px;
	left: 0px;
	right: 0px;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 30s linear infinite;
}
@keyframes city
{
	100%{
		transform: translateX(-2000px);
	}
}
.car{
	width: 400px;
	position: absolute;
	left: 50%;
	bottom: 100px;
	z-index: 2;
	transform: translateX(-50%);
}
.car img{
	width: 100%;
	animation: car 1s linear infinite;
}
@keyframes car
{
	100%{
		transform: translateY(-3px);
	}
	50%{
		transform: translateY(3px);
	}
	0%{
		transform: translateY(-3px);
	}
}
.wheel{
	position: absolute;
	left: 50%;
	bottom: 180px;
	z-index: 2;
	transform: translateX(-50%);
}
.wheel img{
	width: 70px;
	height: 70px;
	animation: wheel 1s linear infinite;
}
#wheel1{
	position: absolute;
	left: -165px;
}
#wheel2{
	position: absolute;
	left: 80px;
}

@keyframes wheel
{
	100%{
		transform: rotate(360deg);
	}
}
